Create DataBase

In [6]:
DROP DATABASE bennyDB

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near '.'.

Create a Table in DB

In [2]:
CREATE TABLE books_list (
    title VARCHAR(100) NOT NULL,
    ISBN  INT NOT NULL,
    author VARCHAR(100) NOT NULL,
    price DECIMAL(5,2) NOT NULL,
    cover VARCHAR(100) NOT NULL,
    author_photo VARCHAR(100) NOT NULL,
)

Data Input in the book table

In [3]:
INSERT INTO books_list (
    title,
    ISBN,
    author,
    price,
    cover,
    author_photo
    )
VALUES(
    'Manas', 111, 'Vivek', 199.00,'manas.jpg','vivek.jpg'
),
(
    'Rashmirathi', 112, 'Dinkar', 99.00,'Rashmirathi.jpg','Dinkar.jpg'
)

Select all rows in book list

In [5]:
SELECT
*
FROM

books_list

title,ISBN,author,price,cover,author_photo
Manas,111,Vivek,199.00,manas.jpg,vivek.jpg
Rashmirathi,112,Dinkar,99.00,Rashmirathi.jpg,Dinkar.jpg

Create another table of reviewers

In [4]:
CREATE TABLE reviewers_table (
     title VARCHAR(100) NOT NULL,
     reviewer VARCHAR(100) NOT NULL,
     rating DECIMAL(3,1) CHECK(rating >=1 AND rating <=5)
)

Insert inputs to the reviewer's table

In [6]:
INSERT INTO reviewers_table (title,reviewer,rating)
VALUES 
('Manas' , 'Sanjay' , 4.7),
('Rashmirathi' , 'Reena' , 4.8),
('Manas' , 'Reena' , 4.6),
('Manas' , 'Prabhat' , 4.2),
('Rashmirathi' , 'Prabhat' , 4.1),
('Rashmirathi' , 'Seema' , 4.2),
('Manas' , 'Prabhat' , 4.2),
('Manas' , 'Shivanshi' , 4.3)

Select all rows from reviewer's table

In [2]:
SELECT * FROM reviewers_table

title,reviewer,rating
Manas,Sanjay,4.7
Rashmirathi,Reena,4.8
Manas,Reena,4.6
Manas,Prabhat,4.2
Rashmirathi,Prabhat,4.1
Rashmirathi,Seema,4.2
Manas,Prabhat,4.2
Manas,Shivanshi,4.3