In [1]:
CREATE DATABASE bennyDB

Deleting the Table

In [5]:
DROP TABLE IF EXISTS aot_table

Create Table

In [6]:
CREATE TABLE aot_table(
    id INT NOT NULL,
    name VARCHAR(100) NOT NULL,
    no_fans INT NOT NULL,
)

Insert Data

In [8]:
INSERT INTO aot_table(id,name,no_fans)
VALUES (
    1,
    'Attack on Titan S1',
    5000
) ,
(
  2,
    'Attack on Titan S2'  ,
    6000 
),
(
    3,
    'Naruto',
    4000
) ,
(
  4,
    'One Piece',
    1000   
);

Select the Rows fromm table

In [17]:
SELECT * FROM aot_table

id,name,no_fans
1,Attack on Titan S1,5000
2,Attack on Titan S2,6000
3,Naruto,4000
4,One Piece,1000
5,Attack on Titan,8000
6,Attack on Titan,9000
7,Naruto,5500
8,One Piece,100

Selecting AOT Rows according to the no of fans

In [12]:
SELECT
 * 
 FROM
  aot_table
WHERE 
    name LIKE '%Attack%'

ORDER BY 

no_fans DESC

id,name,no_fans
2,Attack on Titan S2,6000
1,Attack on Titan S1,5000

Distinct Titles

In [13]:
SELECT DISTINCT name FROM aot_table

name
Attack on Titan S1
Attack on Titan S2
Naruto
One Piece

Inserting some more data

In [16]:
INSERT INTO aot_table(id,name,no_fans)
VALUES (
    5,
    'Attack on Titan',
    8000
) ,
(
  6,
    'Attack on Titan'  ,
    9000 
),
(
    7,
    'Naruto',
    5500
) ,
(
  8,
    'One Piece',
    100   
);

Group By Clause